<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moss.zhyl.mapper.DeviceMapper">

    <resultMap type="Device" id="DeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="brandId"    column="brand_id"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceModel"    column="device_model"    />
        <result property="communicationProtocol"    column="communication_protocol"    />
        <result property="networkMode"    column="network_mode"    />
        <result property="powerSupplyMode"    column="power_supply_mode"    />
        <result property="installationMode"    column="installation_mode"    />
        <result property="devicePrice"    column="device_price"    />
        <result property="warrantyPeriod"    column="warranty_period"    />
        <result property="deviceFunction"    column="device_function"    />
        <result property="deviceParameters"    column="device_parameters"    />
        <result property="deviceImageUrl"    column="device_image_url"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectDeviceVo">
        select device_id, brand_id, device_type, device_model, communication_protocol, network_mode, power_supply_mode, installation_mode, device_price, warranty_period, device_function, device_parameters, device_image_url, remark, create_by, update_by, create_time, update_time, del_flag from yl_device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="brandId != null "> and brand_id = #{brandId}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="deviceModel != null  and deviceModel != ''"> and device_model like concat('%', #{deviceModel}, '%')</if>
            <if test="communicationProtocol != null "> and communication_protocol = #{communicationProtocol}</if>
            <if test="networkMode != null "> and network_mode = #{networkMode}</if>
            <if test="powerSupplyMode != null "> and power_supply_mode = #{powerSupplyMode}</if>
            <if test="installationMode != null "> and installation_mode = #{installationMode}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectDeviceByDeviceId" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where device_id = #{deviceId}
    </select>

    <insert id="insertDevice" parameterType="Device">
        insert into yl_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="deviceType != null and deviceType != ''">device_type,</if>
            <if test="deviceModel != null and deviceModel != ''">device_model,</if>
            <if test="communicationProtocol != null">communication_protocol,</if>
            <if test="networkMode != null">network_mode,</if>
            <if test="powerSupplyMode != null">power_supply_mode,</if>
            <if test="installationMode != null">installation_mode,</if>
            <if test="devicePrice != null">device_price,</if>
            <if test="warrantyPeriod != null">warranty_period,</if>
            <if test="deviceFunction != null">device_function,</if>
            <if test="deviceParameters != null">device_parameters,</if>
            <if test="deviceImageUrl != null">device_image_url,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
            <if test="deviceModel != null and deviceModel != ''">#{deviceModel},</if>
            <if test="communicationProtocol != null">#{communicationProtocol},</if>
            <if test="networkMode != null">#{networkMode},</if>
            <if test="powerSupplyMode != null">#{powerSupplyMode},</if>
            <if test="installationMode != null">#{installationMode},</if>
            <if test="devicePrice != null">#{devicePrice},</if>
            <if test="warrantyPeriod != null">#{warrantyPeriod},</if>
            <if test="deviceFunction != null">#{deviceFunction},</if>
            <if test="deviceParameters != null">#{deviceParameters},</if>
            <if test="deviceImageUrl != null">#{deviceImageUrl},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update yl_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="deviceType != null and deviceType != ''">device_type = #{deviceType},</if>
            <if test="deviceModel != null and deviceModel != ''">device_model = #{deviceModel},</if>
            <if test="communicationProtocol != null">communication_protocol = #{communicationProtocol},</if>
            <if test="networkMode != null">network_mode = #{networkMode},</if>
            <if test="powerSupplyMode != null">power_supply_mode = #{powerSupplyMode},</if>
            <if test="installationMode != null">installation_mode = #{installationMode},</if>
            <if test="devicePrice != null">device_price = #{devicePrice},</if>
            <if test="warrantyPeriod != null">warranty_period = #{warrantyPeriod},</if>
            <if test="deviceFunction != null">device_function = #{deviceFunction},</if>
            <if test="deviceParameters != null">device_parameters = #{deviceParameters},</if>
            <if test="deviceImageUrl != null">device_image_url = #{deviceImageUrl},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteDeviceByDeviceId" parameterType="Long">
        update yl_device set del_flag = '1' where device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceByDeviceIds" parameterType="String">
        update yl_device set del_flag = '1' where device_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
</mapper>