<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moss.zhyl.mapper.DeviceSosAlarmMapper">
    
    <resultMap type="DeviceSosAlarm" id="DeviceSosAlarmResult">
        <result property="sosAlarmId"    column="sos_alarm_id"    />
        <result property="userInfoId"    column="user_info_id"    />
        <result property="userInfoName"    column="user_info_name"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="alarmTime"    column="alarm_time"    />
        <result property="deviceModel"    column="device_model"    />
        <result property="processingStatus"    column="processing_status"    />
        <result property="processingResult"    column="processing_result"    />
        <result property="deviceImei"    column="device_imei"    />
        <result property="alarmContent"    column="alarm_content"    />
        <result property="alarmAddress"    column="alarm_address"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectDeviceSosAlarmVo">
        select sos_alarm_id, user_info_id, user_info_name, contact_number, alarm_time, device_model, processing_status, processing_result, device_imei, alarm_content, alarm_address, del_flag from yl_device_sos_alarm
    </sql>

    <select id="selectDeviceSosAlarmList" parameterType="DeviceSosAlarm" resultMap="DeviceSosAlarmResult">
        <include refid="selectDeviceSosAlarmVo"/>
        <where>  
            <if test="userInfoId != null "> and user_info_id = #{userInfoId}</if>
            <if test="userInfoName != null  and userInfoName != ''"> and user_info_name like concat('%', #{userInfoName}, '%')</if>
            <if test="contactNumber != null  and contactNumber != ''"> and contact_number = #{contactNumber}</if>
            <if test="params.beginAlarmTime != null and params.beginAlarmTime != '' and params.endAlarmTime != null and params.endAlarmTime != ''"> and alarm_time between #{params.beginAlarmTime} and #{params.endAlarmTime}</if>
            <if test="deviceModel != null  and deviceModel != ''"> and device_model like concat('%', #{deviceModel}, '%')</if>
            <if test="processingStatus != null  and processingStatus != ''"> and processing_status = #{processingStatus}</if>
            <if test="processingResult != null  and processingResult != ''"> and processing_result = #{processingResult}</if>
            <if test="deviceImei != null  and deviceImei != ''"> and device_imei like concat('%', #{deviceImei}, '%')</if>
            <if test="alarmAddress != null  and alarmAddress != ''"> and alarm_address like concat('%', #{alarmAddress}, '%')</if>
        </where>
    </select>
    
    <select id="selectDeviceSosAlarmBySosAlarmId" parameterType="Long" resultMap="DeviceSosAlarmResult">
        <include refid="selectDeviceSosAlarmVo"/>
        where sos_alarm_id = #{sosAlarmId}
    </select>

    <insert id="insertDeviceSosAlarm" parameterType="DeviceSosAlarm">
        insert into yl_device_sos_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sosAlarmId != null">sos_alarm_id,</if>
            <if test="userInfoId != null">user_info_id,</if>
            <if test="userInfoName != null">user_info_name,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="alarmTime != null">alarm_time,</if>
            <if test="deviceModel != null">device_model,</if>
            <if test="processingStatus != null">processing_status,</if>
            <if test="processingResult != null">processing_result,</if>
            <if test="deviceImei != null and deviceImei != ''">device_imei,</if>
            <if test="alarmContent != null">alarm_content,</if>
            <if test="alarmAddress != null">alarm_address,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sosAlarmId != null">#{sosAlarmId},</if>
            <if test="userInfoId != null">#{userInfoId},</if>
            <if test="userInfoName != null">#{userInfoName},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="alarmTime != null">#{alarmTime},</if>
            <if test="deviceModel != null">#{deviceModel},</if>
            <if test="processingStatus != null">#{processingStatus},</if>
            <if test="processingResult != null">#{processingResult},</if>
            <if test="deviceImei != null and deviceImei != ''">#{deviceImei},</if>
            <if test="alarmContent != null">#{alarmContent},</if>
            <if test="alarmAddress != null">#{alarmAddress},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateDeviceSosAlarm" parameterType="DeviceSosAlarm">
        update yl_device_sos_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="userInfoId != null">user_info_id = #{userInfoId},</if>
            <if test="userInfoName != null">user_info_name = #{userInfoName},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="alarmTime != null">alarm_time = #{alarmTime},</if>
            <if test="deviceModel != null">device_model = #{deviceModel},</if>
            <if test="processingStatus != null">processing_status = #{processingStatus},</if>
            <if test="processingResult != null">processing_result = #{processingResult},</if>
            <if test="deviceImei != null and deviceImei != ''">device_imei = #{deviceImei},</if>
            <if test="alarmContent != null">alarm_content = #{alarmContent},</if>
            <if test="alarmAddress != null">alarm_address = #{alarmAddress},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where sos_alarm_id = #{sosAlarmId}
    </update>

    <delete id="deleteDeviceSosAlarmBySosAlarmId" parameterType="Long">
        delete from yl_device_sos_alarm where sos_alarm_id = #{sosAlarmId}
    </delete>

    <delete id="deleteDeviceSosAlarmBySosAlarmIds" parameterType="String">
        delete from yl_device_sos_alarm where sos_alarm_id in 
        <foreach item="sosAlarmId" collection="array" open="(" separator="," close=")">
            #{sosAlarmId}
        </foreach>
    </delete>
</mapper>