<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moss.zhyl.mapper.DeviceBrandMapper">

    <resultMap type="DeviceBrand" id="DeviceBrandResult">
        <result property="brandId"    column="brand_id"    />
        <result property="brandName"    column="brand_name"    />
        <result property="description"    column="description"    />
        <result property="contactInfo"    column="contact_info"    />
        <result property="contractContent"    column="contract_content"    />
        <result property="contractSignTime"    column="contract_sign_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDeviceBrandVo">
        select brand_id, brand_name, description, contact_info, contract_content, contract_sign_time, create_by, create_time, update_time from yl_device_brand
    </sql>

    <select id="selectDeviceBrandList" parameterType="DeviceBrand" resultMap="DeviceBrandResult">
        <include refid="selectDeviceBrandVo"/>
        <where>
            <if test="brandId != null "> and brand_id = #{brandId}</if>
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="contactInfo != null  and contactInfo != ''"> and contact_info = #{contactInfo}</if>
            <if test="contractContent != null  and contractContent != ''"> and contract_content = #{contractContent}</if>
            <if test="params.beginContractSignTime != null and params.beginContractSignTime != '' and params.endContractSignTime != null and params.endContractSignTime != ''"> and contract_sign_time between #{params.beginContractSignTime} and #{params.endContractSignTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectDeviceBrandByBrandId" parameterType="Long" resultMap="DeviceBrandResult">
        <include refid="selectDeviceBrandVo"/>
        where brand_id = #{brandId}
    </select>

    <insert id="insertDeviceBrand" parameterType="DeviceBrand">
        insert into yl_device_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandId != null">brand_id,</if>
            <if test="brandName != null and brandName != ''">brand_name,</if>
            <if test="description != null">description,</if>
            <if test="contactInfo != null">contact_info,</if>
            <if test="contractContent != null">contract_content,</if>
            <if test="contractSignTime != null">contract_sign_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brandId != null">#{brandId},</if>
            <if test="brandName != null and brandName != ''">#{brandName},</if>
            <if test="description != null">#{description},</if>
            <if test="contactInfo != null">#{contactInfo},</if>
            <if test="contractContent != null">#{contractContent},</if>
            <if test="contractSignTime != null">#{contractSignTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDeviceBrand" parameterType="DeviceBrand">
        update yl_device_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="brandName != null and brandName != ''">brand_name = #{brandName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="contactInfo != null">contact_info = #{contactInfo},</if>
            <if test="contractContent != null">contract_content = #{contractContent},</if>
            <if test="contractSignTime != null">contract_sign_time = #{contractSignTime},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where brand_id = #{brandId}
    </update>

    <delete id="deleteDeviceBrandByBrandId" parameterType="Long">
        delete from yl_device_brand where brand_id = #{brandId}
    </delete>

    <delete id="deleteDeviceBrandByBrandIds" parameterType="String">
        delete from yl_device_brand where brand_id in
        <foreach item="brandId" collection="array" open="(" separator="," close=")">
            #{brandId}
        </foreach>
    </delete>
</mapper>