<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moss.zhyl.mapper.ElderlyDeviceBindingMapper">

    <resultMap type="ElderlyDeviceBinding" id="ElderlyDeviceBindingResult">
        <result property="bindingId"    column="binding_id"    />
        <result property="userInfoId"    column="user_info_id"    />
        <result property="brandId"    column="brand_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceImei"    column="device_imei"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="bindTime"    column="bind_time"    />
        <result property="unbindTime"    column="unbind_time"    />
        <result property="bindingStatus"    column="binding_status"    />
        <result property="userId"    column="user_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectElderlyDeviceBindingVo">
        select binding_id, user_info_id,brand_id, device_id, device_type, device_imei, device_status, bind_time, unbind_time, binding_status, user_id, remark, create_by, update_by, create_time, update_time, del_flag from yl_elderly_device_binding
    </sql>

    <select id="selectElderlyDeviceBindingList" parameterType="ElderlyDeviceBinding" resultMap="ElderlyDeviceBindingResult">
        <include refid="selectElderlyDeviceBindingVo"/>
        <where>
            <if test="bindingId != null "> and binding_id = #{bindingId}</if>
            <if test="userInfoId != null "> and user_info_id = #{userInfoId}</if>
            <if test="brandId != null "> and brand_id = #{brandId}</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="deviceImei != null  and deviceImei != ''"> and device_imei like concat('%', #{deviceImei}, '%')</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and device_status = #{deviceStatus}</if>
            <if test="params.beginBindTime != null and params.beginBindTime != '' and params.endBindTime != null and params.endBindTime != ''"> and bind_time between #{params.beginBindTime} and #{params.endBindTime}</if>
            <if test="params.beginUnbindTime != null and params.beginUnbindTime != '' and params.endUnbindTime != null and params.endUnbindTime != ''"> and unbind_time between #{params.beginUnbindTime} and #{params.endUnbindTime}</if>
            <if test="bindingStatus != null  and bindingStatus != ''"> and binding_status = #{bindingStatus}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectElderlyDeviceBindingByBindingId" parameterType="Long" resultMap="ElderlyDeviceBindingResult">
        <include refid="selectElderlyDeviceBindingVo"/>
        where binding_id = #{bindingId}
    </select>
    <select id="selectElderlyDeviceBindingByDeviceIMEI" resultMap="ElderlyDeviceBindingResult">
        <include refid="selectElderlyDeviceBindingVo"/>
        where device_imei = #{deviceImei}
    </select>
    <select id="selectElderlyDeviceBindingCounts" resultType="java.lang.Long" parameterType="ElderlyDeviceBinding" >
        select COUNT(binding_id) from yl_elderly_device_binding
        <where>
            <if test="brandId != null "> and brand_id = #{brandId}</if>
            <if test="bindingId != null "> and binding_id = #{bindingId}</if>
            <if test="userInfoId != null "> and user_info_id = #{userInfoId}</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="deviceImei != null  and deviceImei != ''"> and device_imei like concat('%', #{deviceImei}, '%')</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and device_status = #{deviceStatus}</if>
            <if test="params.beginBindTime != null and params.beginBindTime != '' and params.endBindTime != null and params.endBindTime != ''"> and bind_time between #{params.beginBindTime} and #{params.endBindTime}</if>
            <if test="params.beginUnbindTime != null and params.beginUnbindTime != '' and params.endUnbindTime != null and params.endUnbindTime != ''"> and unbind_time between #{params.beginUnbindTime} and #{params.endUnbindTime}</if>
            <if test="bindingStatus != null  and bindingStatus != ''"> and binding_status = #{bindingStatus}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="createTime != null ">and DATE(create_time) = DATE(#{createTime})</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time,'%Y-%m-%d') between #{params.beginCreateTime} and
                #{params.endCreateTime}
            </if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time,'%Y-%m-%d') between #{params.beginCreateTime} and
                #{params.endCreateTime}
            </if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>
    <select id="staticByCreateTimeCounts" resultType="com.moss.zhyl.domain.statics.ro.StaticRo" parameterType="ElderlyDeviceBinding">
        WITH RECURSIVE date_range AS (SELECT DATE(#{params.beginCreateTime}) AS date
        UNION ALL
        SELECT DATE_ADD(date, INTERVAL 1 DAY)
        FROM date_range
        WHERE DATE_ADD(date, INTERVAL 1 DAY) &lt;= DATE(#{params.endCreateTime}))
        SELECT date_range.date AS name,
        COALESCE(binding_counts.total_created, 0) AS total
        FROM date_range
        LEFT JOIN (SELECT DATE(create_time) AS create_date,
        COUNT(*) AS total_created
        FROM yl_elderly_device_binding
        WHERE DATE_FORMAT(create_time,'%Y-%m-%d') BETWEEN #{params.beginCreateTime} AND #{params.endCreateTime}
        <if test="userInfoId != null ">and user_info_id = #{userInfoId}</if>
        <if test="deviceId != null ">and device_id = #{deviceId}</if>
        <if test="deviceType != null  and deviceType != ''">and device_type = #{deviceType}</if>
        <if test="deviceImei != null  and deviceImei != ''">and device_imei like concat('%', #{deviceImei}, '%')</if>
        <if test="deviceStatus != null  and deviceStatus != ''">and device_status = #{deviceStatus}</if>
        <if test="bindingStatus != null  and bindingStatus != ''">and binding_status = #{bindingStatus}</if>
        GROUP BY DATE(create_time)) AS binding_counts ON date_range.date = binding_counts.create_date
        ORDER BY date_range.date;
    </select>
    <select id="getDeviceByDeviceTypeCount" resultType="com.moss.zhyl.domain.statics.ro.StaticRo"
            parameterType="ElderlyDeviceBinding">
        select count(binding_id) as total, device_type as name from yl_elderly_device_binding
        <where>
            <if test="brandId != null ">and brand_id = #{brandId}</if>
            <if test="bindingId != null ">and binding_id = #{bindingId}</if>
            <if test="userInfoId != null ">and user_info_id = #{userInfoId}</if>
            <if test="deviceId != null ">and device_id = #{deviceId}</if>
            <if test="deviceType != null  and deviceType != ''">and device_type = #{deviceType}</if>
            <if test="deviceImei != null  and deviceImei != ''">and device_imei like concat('%', #{deviceImei}, '%')
            </if>
            <if test="deviceStatus != null  and deviceStatus != ''">and device_status = #{deviceStatus}</if>
            <if test="params.beginBindTime != null and params.beginBindTime != '' and params.endBindTime != null and params.endBindTime != ''">
                and bind_time between #{params.beginBindTime} and #{params.endBindTime}
            </if>
            <if test="params.beginUnbindTime != null and params.beginUnbindTime != '' and params.endUnbindTime != null and params.endUnbindTime != ''">
                and unbind_time between #{params.beginUnbindTime} and #{params.endUnbindTime}
            </if>
            <if test="bindingStatus != null  and bindingStatus != ''">and binding_status = #{bindingStatus}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="createTime != null ">and DATE(create_time) = DATE(#{createTime})</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time,'%Y-%m-%d') between #{params.beginCreateTime} and
                #{params.endCreateTime}
            </if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time,'%Y-%m-%d') between #{params.beginCreateTime} and
                #{params.endCreateTime}
            </if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
        group by device_type
    </select>

    <insert id="insertElderlyDeviceBinding" parameterType="ElderlyDeviceBinding">
        insert into yl_elderly_device_binding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bindingId != null">binding_id,</if>
            <if test="userInfoId != null">user_info_id,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="deviceImei != null and deviceImei != ''">device_imei,</if>
            <if test="deviceStatus != null and deviceStatus != ''">device_status,</if>
            <if test="bindTime != null">bind_time,</if>
            <if test="unbindTime != null">unbind_time,</if>
            <if test="bindingStatus != null and bindingStatus != ''">binding_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bindingId != null">#{bindingId},</if>
            <if test="userInfoId != null">#{userInfoId},</if>
            <if test="brandId != null">brand_id,</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="deviceImei != null and deviceImei != ''">#{deviceImei},</if>
            <if test="deviceStatus != null and deviceStatus != ''">#{deviceStatus},</if>
            <if test="bindTime != null">#{bindTime},</if>
            <if test="unbindTime != null">#{unbindTime},</if>
            <if test="bindingStatus != null and bindingStatus != ''">#{bindingStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateElderlyDeviceBinding" parameterType="ElderlyDeviceBinding">
        update yl_elderly_device_binding
        <trim prefix="SET" suffixOverrides=",">
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="userInfoId != null">user_info_id = #{userInfoId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="deviceImei != null and deviceImei != ''">device_imei = #{deviceImei},</if>
            <if test="deviceStatus != null and deviceStatus != ''">device_status = #{deviceStatus},</if>
            <if test="bindTime != null">bind_time = #{bindTime},</if>
            <if test="unbindTime != null">unbind_time = #{unbindTime},</if>
            <if test="bindingStatus != null and bindingStatus != ''">binding_status = #{bindingStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where binding_id = #{bindingId}
    </update>

    <delete id="deleteElderlyDeviceBindingByBindingIds" parameterType="String">
        update yl_elderly_device_binding set del_flag='1' where binding_id in
        <foreach item="bindingId" collection="array" open="(" separator="," close=")">
            #{bindingId}
        </foreach>
    </delete>
</mapper>