<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moss.zhyl.mapper.ElderlyFamilyMapper">

    <resultMap type="ElderlyFamily" id="ElderlyFamilyResult">
        <result property="elderlyFamilyId" column="elderly_family_id"/>
        <result property="userInfoId" column="user_info_id"/>
        <result property="userInfoElderlyId" column="user_info_elderly_id"/>
        <result property="relationshipType" column="relationship_type"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectElderlyFamilyVo">
        select elderly_family_id, user_info_id, user_info_elderly_id, relationship_type, remark
        from yl_elderly_family
    </sql>

    <select id="selectElderlyFamilyList" parameterType="ElderlyFamily" resultMap="ElderlyFamilyResult">
        <include refid="selectElderlyFamilyVo"/>
        <where>
            <if test="elderlyFamilyId != null ">and elderly_family_id = #{elderlyFamilyId}</if>
            <if test="userInfoId != null ">and user_info_id = #{userInfoId}</if>
            <if test="userInfoElderlyId != null ">and user_info_elderly_id = #{userInfoElderlyId}</if>
            <if test="relationshipType != null  and relationshipType != ''">and relationship_type =
                #{relationshipType}
            </if>
        </where>
    </select>

    <select id="selectElderlyFamilyByElderlyFamilyId" parameterType="Long" resultMap="ElderlyFamilyResult">
        <include refid="selectElderlyFamilyVo"/>
        where elderly_family_id = #{elderlyFamilyId}
    </select>

    <insert id="insertElderlyFamily" parameterType="ElderlyFamily">
        insert into yl_elderly_family
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="elderlyFamilyId != null">elderly_family_id,</if>
            <if test="userInfoId != null">user_info_id,</if>
            <if test="userInfoElderlyId != null">user_info_elderly_id,</if>
            <if test="relationshipType != null and relationshipType != ''">relationship_type,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="elderlyFamilyId != null">#{elderlyFamilyId},</if>
            <if test="userInfoId != null">#{userInfoId},</if>
            <if test="userInfoElderlyId != null">#{userInfoElderlyId},</if>
            <if test="relationshipType != null and relationshipType != ''">#{relationshipType},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateElderlyFamily" parameterType="ElderlyFamily">
        update yl_elderly_family
        <trim prefix="SET" suffixOverrides=",">
            <if test="userInfoId != null">user_info_id = #{userInfoId},</if>
            <if test="userInfoElderlyId != null">user_info_elderly_id = #{userInfoElderlyId},</if>
            <if test="relationshipType != null and relationshipType != ''">relationship_type = #{relationshipType},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where elderly_family_id = #{elderlyFamilyId}
    </update>

    <delete id="deleteElderlyFamilyByElderlyFamilyId" parameterType="Long">
        delete
        from yl_elderly_family
        where elderly_family_id = #{elderlyFamilyId}
    </delete>

    <delete id="deleteElderlyFamilyByElderlyFamilyIds" parameterType="String">
        delete from yl_elderly_family where elderly_family_id in
        <foreach item="elderlyFamilyId" collection="array" open="(" separator="," close=")">
            #{elderlyFamilyId}
        </foreach>
    </delete>

    <delete id="deleteElderlyFamilyByUserInfoId" parameterType="Long">
        delete
        from yl_elderly_family
        where user_info_id = #{userInfoId}
    </delete>
    <delete id="deleteElderlyFamilyByUserInfoElderlyId" parameterType="Long">
        delete
        from yl_elderly_family
        where user_info_elderly_id = #{userInfoElderlyId}
    </delete>
</mapper>