<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moss.zhyl.mapper.HealthReportMapper">

    <resultMap type="HealthReport" id="HealthReportResult">
        <result property="healthReportId"    column="health_report_id"    />
        <result property="reportTitle"    column="report_title"    />
        <result property="reportType"    column="report_type"    />
        <result property="useModel"    column="use_model"    />
        <result property="reportImage"    column="report_image"    />
        <result property="reportContent"    column="report_content"    />
        <result property="reportReturn"    column="report_return"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="userInfoId"    column="user_info_id"    />
        <result property="useTokens"    column="use_tokens"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="accomplishTime"    column="accomplish_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectHealthReportVo">
        select health_report_id, report_title, report_type, use_model, report_image, report_content, report_return, task_id, task_status, user_info_id, use_tokens, remark, create_by, accomplish_time, update_time, create_time, del_flag from yl_health_report
    </sql>

    <select id="selectHealthReportList" parameterType="HealthReport" resultMap="HealthReportResult">
        <include refid="selectHealthReportVo"/>
        <where>
            <if test="reportTitle != null  and reportTitle != ''"> and report_title = #{reportTitle}</if>
            <if test="reportType != null  and reportType != ''"> and report_type = #{reportType}</if>
            <if test="useModel != null  and useModel != ''"> and use_model = #{useModel}</if>
            <if test="taskStatus != null  and taskStatus != ''"> and task_status = #{taskStatus}</if>
            <if test="userInfoId != null "> and user_info_id = #{userInfoId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginAccomplishTime != null and params.beginAccomplishTime != '' and params.endAccomplishTime != null and params.endAccomplishTime != ''"> and accomplish_time between #{params.beginAccomplishTime} and #{params.endAccomplishTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectHealthReportByHealthReportId" parameterType="Long" resultMap="HealthReportResult">
        <include refid="selectHealthReportVo"/>
        where health_report_id = #{healthReportId}
    </select>

    <insert id="insertHealthReport" parameterType="HealthReport">
        insert into yl_health_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="healthReportId != null">health_report_id,</if>
            <if test="reportTitle != null and reportTitle != ''">report_title,</if>
            <if test="reportType != null and reportType != ''">report_type,</if>
            <if test="useModel != null and useModel != ''">use_model,</if>
            <if test="reportImage != null and reportImage != ''">report_image,</if>
            <if test="reportContent != null and reportContent != ''">report_content,</if>
            <if test="reportReturn != null and reportReturn != ''">report_return,</if>
            <if test="taskId != null and taskId != ''">task_id,</if>
            <if test="taskStatus != null and taskStatus != ''">task_status,</if>
            <if test="userInfoId != null">user_info_id,</if>
            <if test="useTokens != null">use_tokens,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="accomplishTime != null">accomplish_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="healthReportId != null">#{healthReportId},</if>
            <if test="reportTitle != null and reportTitle != ''">#{reportTitle},</if>
            <if test="reportType != null and reportType != ''">#{reportType},</if>
            <if test="useModel != null and useModel != ''">#{useModel},</if>
            <if test="reportImage != null and reportImage != ''">#{reportImage},</if>
            <if test="reportContent != null and reportContent != ''">#{reportContent},</if>
            <if test="reportReturn != null and reportReturn != ''">#{reportReturn},</if>
            <if test="taskId != null and taskId != ''">#{taskId},</if>
            <if test="taskStatus != null and taskStatus != ''">#{taskStatus},</if>
            <if test="userInfoId != null">#{userInfoId},</if>
            <if test="useTokens != null">#{useTokens},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="accomplishTime != null">#{accomplishTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateHealthReport" parameterType="HealthReport">
        update yl_health_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportTitle != null and reportTitle != ''">report_title = #{reportTitle},</if>
            <if test="reportType != null and reportType != ''">report_type = #{reportType},</if>
            <if test="useModel != null and useModel != ''">use_model = #{useModel},</if>
            <if test="reportImage != null and reportImage != ''">report_image = #{reportImage},</if>
            <if test="reportContent != null and reportContent != ''">report_content = #{reportContent},</if>
            <if test="reportReturn != null and reportReturn != ''">report_return = #{reportReturn},</if>
            <if test="taskId != null and taskId != ''">task_id = #{taskId},</if>
            <if test="taskStatus != null and taskStatus != ''">task_status = #{taskStatus},</if>
            <if test="userInfoId != null">user_info_id = #{userInfoId},</if>
            <if test="useTokens != null">use_tokens = #{useTokens},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="accomplishTime != null">accomplish_time = #{accomplishTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where health_report_id = #{healthReportId}
    </update>

    <delete id="deleteHealthReportByHealthReportId" parameterType="Long">
        update yl_health_report set del_flag = '1' where health_report_id = #{healthReportId}
    </delete>

    <delete id="deleteHealthReportByHealthReportIds" parameterType="String">
        update yl_health_report set del_flag = '1' where health_report_id in
        <foreach item="healthReportId" collection="array" open="(" separator="," close=")">
            #{healthReportId}
        </foreach>
    </delete>
</mapper>